#about {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#about .container {
    background-color: white;
}

#about .col-9 {
    padding: 2rem;
}

#about .col-3 {
    background-image: url("img/aboutIMG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    writing-mode: tb-rl;
    text-align: center;
    padding: 0;
 
}
#about .col-3 h1 {
    background-color: #0873af;
    transform: rotate(180deg);
    height: 100%;
    color: white;
    margin: 0;
}