#mainContent {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#mainContent .row {
    padding-left: 3rem;
}
#mainContent .col-4:hover {
    opacity: 0.8;
}
#content{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#content .col-4 img {
    max-width: 100%;
}

#content .row {
    padding: 1rem;
    background-color: white;
}
#itemSlider {
    height: 2rem;
}
img {
    max-width: 100%;
}